@model FSDP.DATA.EF.ApplicationStatu

@{
    ViewBag.Title = "Delete";
}

<section class="py-5">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-10 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <div class="row" @*id="User-@Model.UserId"*@>
                            <h3 style="color: red;">Are you sure you want to permanently delete application status "@Model.StatusName"?</h3>
                            <div class="mx-auto">
                                <br />
                                <dl class="dl-horizontal">
                                    <dt>
                                        Name
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.StatusName)
                                    </dd>

                                    <dt>
                                        Description
                                    </dt>

                                    <dd>
                                        @Html.DisplayFor(model => model.StatusDescription)
                                    </dd>

                                </dl>

                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()

                                    <div class="form-actions no-color">
                                        <input type="submit" value="Delete" class="btn btn-danger" /> |
                                        @Html.ActionLink("Back to List", "Index")
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>