@model IEnumerable<FSDP.DATA.EF.Application>

@{
    ViewBag.Title = "Manage";
}

<section class="py-5">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-12 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <h2 class="h3 mb-4 text-center">Applications</h2>
                        <div class="row">
                            <table class="table">
                                <tr>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                    {
                                        <th>
                                            Applicant
                                        </th>
                                    }
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicationDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OpenPosition.Position.Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OpenPosition.Location.City)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                <tr>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Manager"))
                                    {
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserDetail.FirstName) @Html.DisplayFor(modelItem => item.UserDetail.LastName)
                                        </td>
                                    }
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicationDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OpenPosition.Position.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.OpenPosition.Location.City)
                                    </td>
                                    <td>
                                        @if (User.IsInRole("Manager"))
                                        {
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }) <text>|</text>
                                        }
                                        @Html.ActionLink("Details", "Details", new { id = item.ApplicationId })
                                    </td>
                                </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>