@model IEnumerable<FSDP.DATA.EF.Application>

@{
    ViewBag.Title = "Index";
}

<section class="py-5">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-12 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <h2 class="h3 mb-4 text-center">Applications</h2>
                        <div class="row">
                            <table class="table">
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicationDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ManagerNotes)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ResumeFilename)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.ApplicationStatu.StatusName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.OpenPosition.OpenPositionId)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.UserDetail.FirstName)
                                    </th>
                                    <th></th>
                                </tr>

                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicationDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ManagerNotes)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ResumeFilename)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ApplicationStatu.StatusName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.OpenPosition.OpenPositionId)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.UserDetail.FirstName)
                                        </td>
                                        <td>
                                            @Html.ActionLink("Edit", "Edit", new { id = item.ApplicationId }) |
                                            @Html.ActionLink("Details", "Details", new { id = item.ApplicationId }) |
                                            @Html.ActionLink("Delete", "Delete", new { id = item.ApplicationId })
                                        </td>
                                    </tr>
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>