@model FSDP.UI.MVC.Models.IndexViewModel
@{
    ViewBag.Title = "Manage your account";
}


<section class="py-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-9 mb-5 mb-lg-0 mx-auto">
                <div class="card border-0 shadow-sm mb-4 mb-lg-5 p-2 p-lg-0">
                    <div class="card-body p-lg-5">
                        <h2 class="text-center">@ViewBag.Title</h2>
                        <p class="text-success text-center">@ViewBag.StatusMessage</p>
                        <p class="text-center">
                            @(Model.HasPassword ? Html.ActionLink("Change your password", "ChangePassword")
                                                                : Html.ActionLink("Pick a password", "SetPassword"))
                        </p>
                        @*<p>
                            Phone Number: @(Model.PhoneNumber ?? "None") [
                            @if (Model.PhoneNumber != null)
                            {
                                @Html.ActionLink("Change", "AddPhoneNumber")
                                @: &nbsp;|&nbsp;
                                @Html.ActionLink("Remove", "RemovePhoneNumber")
                            }
                            else
                            {
                                @Html.ActionLink("Add", "AddPhoneNumber")
                            }
                            ]
                        </p>
                        <p>
                            External Logins: @Model.Logins.Count
                            @Html.ActionLink("[Manage]", "ManageLogins")
                        </p>*@
                        @if (Model.TwoFactor)
                        {
                            using (Html.BeginForm("DisableTFA", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <p class="text-center">
                                    Two factor is currently enabled:
                                    <input type="submit" value="Disable" class="btn btn-dark" />
                                </p>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("EnableTFA", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <p class="text-center">
                                    Two factor is currently disabled:
                                    <input type="submit" value="Enable" class="btn btn-dark" />
                                </p>
                            }
                        }
                        @if (Model.BrowserRemembered)
                        {
                            using (Html.BeginForm("ForgetBrowser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <p class="text-center">
                                    Browser is curently remembered for two factor:
                                    <input type="submit" value="Forget Browser" class="btn btn-dark" />
                                </p>
                            }
                        }
                        else
                        {
                            using (Html.BeginForm("RememberBrowser", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                                @Html.AntiForgeryToken()
                                <p class="text-center">
                                    Browser is curently not remembered for two factor:
                                    <input type="submit" value="Remember Browser" class="btn btn-dark" />
                                </p>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>>