@model FSDP.DATA.EF.OpenPosition

@{
    ViewBag.Title = "Manage";
}

<h2>Details</h2>

<div>
    <h4>OpenPosition</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Location.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position.Title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OpenPositionId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
