@model FSDP.DATA.EF.OpenPosition

@{
    ViewBag.Title = "Edit";
}

<section class="py-5">
    <div class="container py-5">
        <div class="row text-center">
            <div class="col-lg-9 mx-auto">
                <div class="card border-0 shadow">
                    <div class="card-body p-5">
                        <h2 class="h3 mb-4 text-center">Edit Opening</h2>
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.OpenPositionId)

                                <div class="form-group">
                                    <h6>Position</h6>
                                    <div class="col-md-10 mx-auto">
                                        @Html.DropDownList("PositionId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PositionId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <h6>Location</h6>
                                    <div class="col-md-10 mx-auto">
                                        @Html.DropDownList("LocationId", null, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 mx-auto">
                                        <input type="submit" value="Save" class="btn btn-dark" />
                                    </div>
                                </div>
                            </div>
                        }

                        <div>
                            @Html.ActionLink("Back to List", "Index")
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>